.profile-photo {
    background: url('./images/schnee.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.profile-content {
    text-align:center;
}

.link {
    align-items: center;
    justify-content: center;
}

.link-style {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.link-name{
    font-style: italic;
}

@media (min-width: 481px) {
    .profile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-photo {
        top: 20px;
        width: 150px;
        height: 150px;
    }

    .profile-content {
        flex: none;
        width: 250px;
        min-width: 200px;
        height: 150px;
        font-size: 16px;
        padding-left: 20px;
        margin-left: 10px;
        text-align: left;
    }

    .link {
        padding: 10px;
        display: grid;
        width: 150px;
        height: 150px;
    }
}


@media (max-width: 480px) {
    .profile {
        display: grid;
        grid-column: 1 / 1;
        align-items: center;
        justify-content: center;
    }
    .profile-photo-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile-photo {
        width: 100px;
        height: 100px;
    }
    .profile-content {
        font-size: 14px;
        text-align:center;
    }

    .link {
        display: flex;
    }

    .link-name{
        display: none;
    }
}
