/*
React Body Has margin: 8px as default
*/
body {
    margin: 0;
}

.header {
    /*position : sticky，
    並且一定要定義目標位置 left / right / top / bottom 才會出現固定效果！*/
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer {
    /*position: sticky;*/
    /*bottom: 0;*/
    background-color: aqua;
    width: 100%;
    border-top: black solid 1px;
}

.main {
    background-color: white;
    align-items: center;
    justify-content: center;
}

@media (min-width: 480px) and (max-width: 840px) {

    .header {
    }
}

@media (max-width: 480px) {
    .header {
    }

}