.section {
    align-items: center;
    font-size: 20px;
    padding-bottom: 5px;
}

.skill-panel {
    display: grid;
    grid-gap: 10px 10px;
    align-items: center;
    justify-content: center;
    grid-template: 200px / auto auto auto auto;

}

.skill-object {
    border-bottom: lightgray solid 1px;
    height: 150px;
    min-width: 100px;
    width: 200px;
    background: sandybrown;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.skill-info {
    font-size: 18px;
    padding-bottom: 12px;
    height: 20px;
    background: saddlebrown;
    text-align: center;
    border-radius: 5%;

}

.skill-content {
    font-style: italic;
    height: auto;
    font-size: 14px;
}


.work-panel {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: auto / auto;
    padding-left: 10%;
    padding-right: 10%;
}

.work-object {
    display: flex;
    padding: 20px;
    border-bottom: lightgray solid 1px;
}

.work-info {
    flex: none;
    padding-right: 3px;
    font-size: 16px;
    width: 200px;
    min-width: 100px;
    border-right: aquamarine dashed 1px;
}

.work-content {
    flex: 1;
    min-width: 300px;
    font-size: 14px;
}

h2 {
    text-align: center;
}

@media (min-width: 481px) and (max-width: 840px) {

    .skill-panel {
        grid-template: auto / auto auto;
    }

    .skill-object {
        height: 150px;
        width: 200px;
    }

    .work-info {
        font-size: 14px;
        width: 130px;
    }

    .work-content {
        font-size: 12px;
        min-width: 250px;
    }
}


@media (max-width: 480px) {

    .skill-panel {
        grid-template: auto / auto;
    }

    .skill-info {
        padding-left: 0;
        text-align: center;
    }

    .skill-object {
        height: auto;
        width: 200px;
    }

    .work-info {
        width: 130px;
        font-size: 12px;
    }

    .work-content {
        font-size: 10px;
        min-width: 200px;
    }
}