.section {
    align-items: center;
    font-size: 20px;
    padding-bottom: 5px;
}

.introduction-panel {
    display: grid;
    grid-gap: 10px 10px;
    align-items: center;
    justify-content: center;
    grid-template: 20px / auto;
}

.introduction-object {
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.skill-panel {
    display: grid;
    grid-gap: 10px 10px;
    align-items: center;
    justify-content: center;
    grid-template: 200px / auto auto auto auto;

}

.skill-object {
    border-bottom: lightgray solid 1px;
    height: 150px;
    min-width: 100px;
    width: 200px;
    background: sandybrown;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.skill-info {
    font-size: 18px;
    padding-bottom: 12px;
    height: 20px;
    background: saddlebrown;
    text-align: center;
    border-radius: 10px;

}

.skill-content {
    font-style: italic;
    height: auto;
    font-size: 14px;
}


.work-panel {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: auto / auto;
    padding-left: 10%;
    padding-right: 10%;
}

.work-object {
    display: flex;
    padding: 20px;
    border-bottom: lightgray solid 1px;
}

.work-info {
    flex: none;
    padding-right: 3px;
    font-size: 16px;
    width: 200px;
    min-width: 100px;
    border-right: lightgray dashed 1px;
}

.work-content {
    flex: 1;
    min-width: 300px;
    font-size: 14px;
}

h1 {
    text-align: center;
}

.project-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.project-way{
    flex: none;
    width: 50px;
}

.project-screen {
    flex: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
}

.project-shower {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.project-card {
    width: 200px;
    height: 200px;
    border: aquamarine solid 3px;
}

.project-card .project-card-header {
    width: 180px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.project-card .project-card-content {
    width: 180px;
    height: 100px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.project-card .project-card-footer {
    width: 180px;
    height: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}





@media (min-width: 481px) and (max-width: 840px) {

    .section {
        font-size: 18px;
    }

    .introduction-object {
        font-size: 16px;
    }

    .skill-panel {
        grid-template: auto / auto auto;
    }

    .skill-object {
        height: 150px;
        width: 200px;
    }

    .work-info {
        font-size: 16px;
        width: 130px;
    }

    .work-content {
        font-size: 14px;
        min-width: 250px;
    }
}


@media (max-width: 480px) {
    .section {
        font-size: 16px;
    }

    .introduction-object {
        font-size: 14px;
    }

    .skill-panel {
        grid-template: auto / auto;
    }

    .skill-info {
        padding-left: 0;
        text-align: center;
    }

    .skill-object {
        height: auto;
        width: 200px;
    }

    .work-object {
        display: grid;
        padding: 20px;
        border-bottom: lightgray solid 1px;
    }

    .work-info {
        width: auto;
        min-width: 200px;
        font-size: 14px;
        border-right: 0;
        border-bottom: lightgray dashed 1px;
    }

    .work-content {
        flex: none;
        font-size: 12px;
        min-width: 200px;
    }

    .project-screen {
        padding-right: 0;
        padding-left: 0;
    }

    .project-shower {
        padding-right: 0;
        padding-left: 0;
    }

    .project-card {
        width: 170px;
    }

    .project-card .project-card-header {
        width: 150px;
    }

    .project-card .project-card-content {
        width: 150px;
    }

    .project-card .project-card-footer {
        width: 150px;
    }
}