.header {
    /*position : sticky，
    並且一定要定義目標位置 left / right / top / bottom 才會出現固定效果！*/
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.profile {
    display: flex;
}

.profile-photo-object {
    width: 150px;
    height: 150px;
    background: url('../home/images/schnee.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.profile-content {
    flex: none;
    width: 250px;
    min-width: 200px;
    height: 150px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
}

.link {
    display: grid;
    align-items: center;
    justify-content: center;
}

.link-style {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.link-name{
    font-style: italic;
}


@media (max-width: 480px) {
    .profile {
        display: grid;
        grid-template: auto / auto;
    }

    .profile-photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-photo-object {
        width: 100px;
        height: 100px;
    }
    .profile-content {
        width: 250px;
        height: auto;
        padding-left: 0;
        text-align: center;
        font-size: 14px;
    }

    .link {
        display: flex;
    }

    .link-name{
        display: none;
    }
}
