.full {
    height: 900px;
    width: 900px;
    background-color: palevioletred;
    display: flex;
}

.main {
    height: 900px;
    width: 300px;
    display: block;
}

.content {
    height: 900px;
    width: 600px;
    background-color: green;
}

.main .profile {
    height: 300px;
    width: 300px;
    background-color: gray;
}

.main .menu {
    height: 600px;
    width: 300px;
    background-color: cornflowerblue;
}

.profile .profile-photo {
    background: url('./images/schnee.jpg') no-repeat;
    background-size: 100px auto;
    border-radius: 100px;
    height: 100px;
    width: 300px;
    background-color: white;
}

.profile .profile-content {
    background-color: black;
    height: 100px;
    width: 300px;
}

.profile .link{
    height: 100px;
    width: 300px;
    background-color: coral;
}

.profile .link a {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.profile .link .github {
    background: url('./images/github-logo.png') no-repeat;
    background-size: 20px auto;
}

.profile .link .linkedin {
    background: url('./images/linkedin-logo.png') no-repeat;
    background-size: 20px auto;
}

.content .section {
    height: 300px;
    width: 600px;
}

.section .skills{

}

.section .experience{

}

.section .projects{

}